.venv

**/.DS_Store
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
application/.dart_tool/
application/.flutter-plugins
application/.flutter-plugins-dependencies
application/.packages
application/.pub-cache/
application/.pub/
application/build/

# Web related
application/lib/generated_plugin_registrant.dart

# Symbolication related
application/app.*.symbols

# Obfuscation related
application/app.*.map.json

# Exceptions to above rules.
!application/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
